.Brands {
  background-color: #393e46;
}

ul {
  display: flex;
  justify-content: space-around;
  height: 1.5rem;
}

ul li {
  list-style: none;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

ul li:hover {
  color: #00adb5;
}
