.BrandsNavBar {
  background-color: #393e46;
}

.BrandsNavBar ul {
  display: flex;
  justify-content: space-around;
  height: 1.5rem;
  margin: 0;
}

.BrandsNavBar ul li {
  list-style: none;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.BrandsNavBar ul li:hover {
  color: #00adb5;
}

@media (max-width: 580px) {
  .BrandsNavBar {
    display: none;
  }
}
