.Featured {
  margin-top: 5rem;
}

.Featured .featured-divider {
  display: flex;
  justify-content: center;
  margin: 3rem 4rem;
}

.Featured .featured-divider h1 {
  font-size: 3em;
  padding: 2rem;
  border-bottom: 2px solid #00adb5;
}

.Featured .featured-car {
  background-color: #222831;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Featured .featured-picture {
  flex: 0.5;
}

.Featured .featured-picture img {
  max-width: 100%;
}

.Featured .featured-car {
  display: flex;
}

.Featured .featured-car-desc {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.Featured .featured-car-desc .featured-car_details {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.Featured .featured-car-desc span {
  color: red;
}

.Featured .btn {
  margin-top: 5rem;
  padding: 1rem;
  background-color: #dc3545;
  color: white;
}

.Featured .btn button:hover {
  opacity: 0.8;
}

.Featured .btn a {
  color: white;
  text-decoration: none;
}

@media (max-width: 940px) {
  .Featured .featured-car {
    display: grid;
    grid-template-columns: 1fr;
  }
}
