.Landing-page {
  height: 100vh;
  width: 100%;
}

.Landing-page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.Landing-page .description {
  flex: 0.5;
  padding: 3rem;
  text-align: start;
  margin: auto 0;
}
.Landing-page .description h1 {
  font-size: 5rem;
}

.Landing-page .description button {
  background-color: #00adb5;
  border-radius: 0.5em;
  padding: 1em;
  outline: none;
  border: none;
  transition: 0.2s ease-in;
  color: white;
}

.Landing-page .description button:hover {
  background-color: #171717;
}

.Landing-page .description button a {
  text-decoration: none;
  color: white;
}

.Landing-page .featured_image {
  flex: 0.5;
  margin: auto 0;
}

.Landing-page .featured_image img {
  width: 100%;
}

@media (max-width: 900px) {
  .Landing-page {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .Landing-page .description h1 {
    font-size: 4rem;
  }
}
