.Landing-page {
  height: calc(100vh-100px);
  width: 100%;
}

.Landing-page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 3rem 0 3rem;
}
.Landing-page .description {
  flex: 0.5;
  padding: 3rem;
  text-align: start;
  margin: auto 0;
}
.Landing-page .description h1 {
  font-size: 5rem;
}

.Landing-page .description button {
  background-color: #00adb5;
  border-radius: 0.5em;
  padding: 1em;
  outline: none;
  border: none;
  transition: 0.2s ease-in;
  color: white;
}

.Landing-page .description button:hover {
  background-color: #171717;
}

.Landing-page .description button a {
  text-decoration: none;
  color: white;
}

.Landing-page .featured_image {
  flex: 0.5;
  margin: auto 0;
}

.Landing-page .featured_image img {
  width: 100%;
}

@media (max-width: 1424px) {
  .Landing-page .description h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1184px) {
  .Landing-page .description h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1066px) {
  .Landing-page .description h1 {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .Landing-page {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Landing-page .description {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
  }
  .Landing-page .featured_image {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
  }

  .Landing-page .featured_image img {
    opacity: 0.3;
  }

  .Landing-page .description h1 {
    font-size: 4rem;
  }
}

@media (max-width: 688px) {
  .Landing-page .description {
    margin: 0.5rem 0;
  }
  .Landing-page .featured_image {
    margin: 0.5rem 0;
  }

  .Landing-page .description h1 {
    font-size: 3rem;
  }
}

@media (max-width: 568px) {
  .Landing-page .description h1 {
    font-size: 2rem;
  }
}

@media (max-width: 445px) {
  .Landing-page {
    padding: 0;
  }
  .Landing-page .description h1 {
    font-size: 1.5rem;
  }

  .Landing-page .description h6 {
    font-size: 0.6rem;
  }
}
