.Products-Comp {
  background-color: #eee;
}

.Products-Comp .side-bar {
  background-color: white;
  padding: 1em;
  height: 98.6%;
  margin-top: 0.7em;
  border-radius: 0.9em;
}

.Products-Comp .side-column {
  padding-left: 0;
  padding-right: 0;
}

.Products-Comp .car-info {
  background-color: white;
  padding: 2em;
  width: 90%;
  margin: 0.7em auto;
  border-radius: 0.9em;
  height: 410px;
}

.Products-Comp .car-info:hover {
  box-shadow: 12px 12px 2px 1px hsla(209, 100%, 50%, 0.445);
}

.Products-Comp .car-images {
  display: flex;
  justify-content: center;
}

.Products-Comp .car-images img {
  max-width: 100%;
  height: 110px;
  margin-bottom: 2rem;
  object-fit: fill;
}

.Products-Comp .car-images img:hover {
  cursor: pointer;
}

.Products-Comp .car-info {
  transition: 0.5s;
}

.Products-Comp .car-info .view-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.Products-Comp .car-info .view-buttons button {
  background-color: #00adb5;
  border: 0.5px solid #eee;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 100%;
  color: white;
  margin-top: 0.2rem;
  transition: 0.4s;
}
.Products-Comp .car-info .view-buttons a {
  text-decoration: none;
  outline: none;
  color: white;
  width: 90%;
}

.Products-Comp .car-info .view-buttons button:hover {
  color: white;
  background-color: #171717;
}

.Products-Comp .car-name {
  text-align: center;
}

.Products-Comp .car-sale-info {
  display: flex;
  justify-content: space-around;
  color: #00adb5;
}

.car-sale-info .car__rating h6 {
  display: flex;
}

.loading {
  height: 100vh;
  text-align: center;
  margin: 4rem auto;
}
